<!DOCTYPE html>
<html>
<head>
  <title>ADD</title>
    <style>
    .container {
      display: flex;
      justify-content: space-around;
        color: blue;
    }
    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

    input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  </style>
</head>
<body>
  <h1>Add Procedures</h1>
  <form action="{{ url_for('home')}}" method="post" autocomplete="off">
        <input type="submit" class="button button5" value="Home">
    </form>

<hr>
<br>
<br>

<h3>Add Owner</h3>
    <form action="{{ url_for('add_owner') }}" method="post" autocomplete="off">
        <input type="text" name="user" placeholder="Username" required maxlength = '40'>
        <input type="text" name="fname" placeholder="First Name" required maxlength = '100'>
        <input type="text" name="lname" placeholder="Last Name" required maxlength = '100'>
        <input type="text" name="address" placeholder="Address" required maxlength = '500'>
        <input type="date" name="birthdate" placeholder="Birthdate" required>
        <input type="submit" class="btn" value="Add Owner">
    </form>
<br>
    <h3>Add Employee</h3>
    <form action="{{ url_for('add_employee') }}" method="post" autocomplete="off">
        <input type="text" name="user" placeholder="Username" required maxlength = '40'>
        <input type="text" name="fname" placeholder="First Name" required maxlength = '100'>
        <input type="text" name="lname" placeholder="Last Name" required maxlength = '100'>
        <input type="text" name="address" placeholder="Address" required maxlength = '500'>
        <input type="date" name="birthdate" placeholder="Birthdate" required>
        <input type="text" name="taxid" placeholder="Tax ID" required maxlength = '40'>
        <input type="date" name="hiredate" placeholder="Date Hired" required>
        <input type="number" name="experience" placeholder="Experience" required>
        <input type="number" name="salary" placeholder="Salary" required>
        <input type="submit" class="btn" value="Add Employee">
    </form>

<br>
    <h3>Add Pilot Role</h3>
    <form action="{{ url_for('add_pilot_role') }}" method="post" autocomplete="off">
        <input type="text" name="user" placeholder="Username" required maxlength = '40'>
        <input type="text" name="licenseID" placeholder="License ID" required maxlength = '40'>
        <input type="number" name="experience" placeholder="Experience" required>
        <input type="submit" class="btn" value="Add Pilot">
    </form>

<br>

    <h3>Add Worker Role</h3>
    <form action="{{ url_for('add_worker_role') }}" method="post" autocomplete="off">
        <input type="text" name="user" placeholder="Username" required maxlength = '40'>
        <input type="submit" class="btn" value="Add Worker">
    </form>

<br>

    <h3>Add Ingredient</h3>
    <form action="{{ url_for('add_ingredient') }}" method="post" autocomplete="off">
        <input type="text" name="barcode" placeholder="Barcode" required maxlength = '40'>
        <input type="text" name="name" placeholder="Ingredient Name" required maxlength = '100'>
        <input type="number" name="weight" placeholder="Ingredient Weight" required>
        <input type="submit" class="btn" value="Add Ingredient">
    </form>
<br>

    <h3>Add Drone</h3>
    <form action="{{ url_for('add_drone') }}" method="post" autocomplete="off">
        <input type="text" name="id" placeholder="Drone ID" required maxlength = '40'>
        <input type="number" name="tag" placeholder="Drone Tag" required>
        <input type="number" name="fuel" placeholder="Fuel" required>
        <input type="number" name="capacity" placeholder="Capacity" required>
        <input type="number" name="sales" placeholder="Sales" required>
        <input type="text" name="flown_by" placeholder="Flown by" maxlength = '40'>
        <input type="submit" class="btn" value="Add Drone">
    </form>
<br>

    <h3>Add Restaurant</h3>
    <form action="{{ url_for('add_restaurant') }}" method="post" autocomplete="off">
        <input type="text" name="name" placeholder="Restaurant Name" required maxlength = '40'>
        <input type="number" name="rating" placeholder="Restaurant Rating" required>
        <input type="number" name="spent" placeholder="Money Spent" required>
        <input type="text" name="location" placeholder="Location" required maxlength = '40'>
        <input type="submit" class="btn" value="Add Restaurant">
    </form>
<br>

    <h3>Add Service</h3>
    <form action="{{ url_for('add_service') }}" method="post" autocomplete="off">
        <input type="text" name="id" placeholder="Service ID" required maxlength = '40'>
        <input type="text" name="name" placeholder="Service Name" required maxlength = '100'>
        <input type="text" name="base" placeholder="Home Base" required maxlength = '40'>
        <input type="text" name="manager" placeholder="Manager" required maxlength = '40'>
        <input type="submit" class="btn" value="Add Service">
    </form>
<br>

    <h3>Add Location</h3>
    <form action="{{ url_for('add_location') }}" method="post" autocomplete="off">
        <input type="text" name="label" placeholder="Label" required maxlength = '40'>
        <input type="number" name="x" placeholder="X coordinate" required>
        <input type="number" name="y" placeholder="Y coordinate" required>
        <input type="number" name="space" placeholder="Space" required>
        <input type="submit" class="btn" value="Add Location">
    </form>
<br>
</body>
</html>
